.footer {
  padding: 24px 0 36px;
  background-color: #000;
  color: #d4d4d4;
  font-family: Pretendard, sans-serif;
}

.footer__inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* ✅ 마지막 줄 기준 정렬 */
}

.footer__left,
.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* ✅ 아래 기준 맞추기 */
  gap: 8px;
}

.footer__description p {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
}

.footer__title {
  font-weight: 700 !important;
}

.footer__copyright,
.footer__makers {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
}

.footer__icons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.footer__icons img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
